@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  font-family: 'Archivo', sans-serif;
  font-size:13px;
  color: darkslategray;
}

body {
  height: 100vh;
}

.header {
  border-bottom: 1px solid darkslategray;
  height: 100px;
  color:darkslategray;
  padding:20px;
}

.header h1 {
  font-weight:300;
  font-size:13px;
}

.header h2 {
  font-weight:300;
}

.container {
  height: 100%;
  width: 100vw;
  min-width: 200px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  width: 20vw;
  border-right: 1px solid darkslategray;
  height: 100%;
}

.images {
  width: 66vw;
  height: 80vh;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

li {
  padding: 20px;
  border-bottom: 1px solid darkslategray;
  list-style: none;
}

img {
  visibility: hidden;
  width: 500px;
  height: auto;
  position: absolute;
  object-fit: contain;
  /*border-radius: 27% 73% 37% 63% / 56% 38% 62% 44%;*/
}

.selected {
  background-color: darkslategray;
  color: white;
}


@media (max-width:800px) {

  .header {
    width:100vw;
  }

  .container {
    display:block;
    max-height:1200px;
    display:flex;
    flex-direction:column;
  }

  .list {
    width:100vw;
    height:auto;
    display:flex;
  }

  .list ul {
    width:100%;
    border-right: 1px solid darkslategray;
  }

  .images {
    height:fit-content;
    width:fit-content;
    margin:auto;
    max-width:300px;
    align-items:center;
  }

  img {
    max-width:300px;
    object-fit:cover;
  }
}